body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:#f7f7f7;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.left-section, .right-section {
    flex: 1;
    padding: 20px;
    justify-content: center;
    box-sizing: border-box;
}

.left-section {
    background-color: #f0f0f0;
    position: relative;
    text-align: center;
}

.right-section {
    background-color: #cfd7ea ;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 0;
}

.login-form {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    align-items: center;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bold;
    margin-top: 10px;
    width: 70%;
    padding: 10px;
}

input[type="text"], input[type="password"] {
    width: 70%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    width: 30%;
    align-items: center;
}

button:hover {
    background-color: #0056b3;
}

.Imagen {
    width: 90%;
    height: 75%;
    max-width: 70%;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .Imagen {
        width: 100%;
        height: auto;
    }
}

.alert-info{
    color: red;
}
.alert-danger{
    color: red;
}